<config>
    <modules>
        <Cmsmart_ThemeSetting>
            <version>1.0.0</version>
        </Cmsmart_ThemeSetting>
    </modules>
	<admin>
		<routers>
			<themesetting>
				<use>admin</use>
				<args>
					<module>Cmsmart_ThemeSetting</module>
					<frontName>themesetting</frontName>
				</args>
			</themesetting>
		</routers>
	</admin>
    <global>
        <models>
            <themesetting>
                <class>Cmsmart_ThemeSetting_Model</class>
            </themesetting>
        </models>
        <blocks>
            <themesetting>
                <class>Cmsmart_ThemeSetting_Block</class>
            </themesetting>
        </blocks>
        <helpers>
            <themesetting>
                <class>Cmsmart_ThemeSetting_Helper</class>
            </themesetting>
        </helpers>
    </global>	
    <adminhtml>
        <events>                
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <themesetting>
                        <type>singleton</type>
                        <class>themesetting/observer</class>
                        <method>hookTo_controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
                    </themesetting>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <themesetting>
                        <type>singleton</type>
                        <class>themesetting/observer</class>
                        <method>hookTo_storeEdit</method>
                    </themesetting>
                </observers>
            </store_edit>
        </events>
    </adminhtml>	
	<default>
		<themesetting>
			<general>
				<font_text>default</font_text>
				<font_text_size>default</font_text_size>
				<font_titles>default</font_titles>
			</general>
			<product_labels>
				<new>1</new>
				<sale>1</sale>
			</product_labels>
			<install>
				<overwrite_blocks>0</overwrite_blocks>
				<overwrite_pages>0</overwrite_pages>
			</install>
			<theme_color>
				<color>default</color>
			</theme_color>
			<gmap_about_page>
				<long>21.027764</long>				
				<lat>105.834160</lat>
			</gmap_about_page>
		</themesetting>
	</default>
 </config>   
