<?xml version="1.0" ?>
<config>
      
      <modules>
            <Cmsmart_NewsletterPopup>
                  <version>0.0.1</version>
            </Cmsmart_NewsletterPopup>
      </modules>

      <frontend>
            <layout>
                  <updates>
                        <newsletterpopup>
                              <file>newsletterpopup.xml</file>
                        </newsletterpopup>
                  </updates>
            </layout>
      </frontend>

</config>